.App {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
}

.button-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.button-container > div:hover {
    background-color: #047caf;

}

.logo {
    background-color: #FFF;
}

.logo > img {
    width: 60%;
    padding: 10px;
}

.sightseeings-button, .street-button {
    color: #FFF;
    background-color: #009fe3;
    width: 270px;
    height: 40px;
}

.active {
    text-decoration: underline;
    background-color: #047caf;
}

.img {
    height: 200px;
    width: auto;
}